
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");


.header {
  display: flex;
  justify-content: center;
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #ffff;
}





